@import "node_modules/webkit-sass-mixins/dist/webkit-sass-mixins.scss";

.blank-10{
  height:10rpx;
}
.blank-20{
  height:20rpx;
}
.bdr-gold{
  border:1px solid gold
}
image{
  @include size(100rpx);
}
.circle{
  border-radius: 1000rpx;
}
.tc{
  text-align: center;
}
.cRed{
  border:1px solid saddlebrown;
}
.userinfo {
  height:200rpx;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 150px;
}

.form-control {
  display: block;
  padding: 0 12px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
